/* 

--------------TYPOGRAPHY--------------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5 

LETTER SPACING
0 / -2PX 


--------------COLORS--------------

PRIMARY
Arctic: #d0ebff
Sky Blue: #339af0
Deep Sea: #1c7ed6

SECONDARY
Moonlight Iris: #e5dbff
Lavender: #9775fa
Velvet Night: #7048e8

TERTIARY
Dawn: #ffe8cc
Pumpkin: #ff922b
Lava: #f76707

GREY
Pebble: #f1f3f5
Slate: #495057
Graphite: #212529

--------------BORDER RADIOUS--------------

4px / 8px / 20px


*/

/* ------------------------GLOBAL STYLES ------------------------ */

/* Add in universal selector later to remove default spacing propertied */

*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

h1, h2, h3, h4, h5 {

    line-height: 1.2;
    letter-spacing: -2px;
    color: #212529;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

a {
    font-weight: 400;
    text-decoration: none;
}
ul {
    list-style: none;
}

.small-text {
    font-size: 12px;
}

/* ------------------------COMPONETS------------------------ */


.btn {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 9px;
}

.btn-primary, .btn-primary:visited{
    color: #ffffff;
    background-color: #339af0;
    border: 2px solid #339af0;
}

.btn-primary:hover, .btn-primary:active {
    color: #ffffff;
    background-color:#1c7ed6;
    border: 2px solid #1c7ed6;
}

.btn-primary-outline:link,.btn-primary-outline:visited {
    color: #1c7ed6;
    background-color: #ffffff;
    border: 2px solid #339af0;
}

.btn-primary-outline:hover,.btn-primary-outline:active {
    color: #1c7ed6;
    background-color: #ffffff;
    border: 2px solid #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
    color: #ffffff;
    background-color: #9775fa;
    border: 2px solid #9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #ffffff;
    background-color: #7048e8;
    border: 2px solid #7048e8;
}

.btn-primary {
    color: #339af0;
    border: 3.3px solid #339af0;
}

.btn-secondary {
    color: #9775fa;
}

.highlight {
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 9px;
}

.highlight-primary {
    background-color: #339af0;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}

.logo-md {
    width: 100px;
}

.logo-sm {
    width: 80px;
}

/* ------------------------SECTIONS ------------------------ */

/* -----------HERO SECTION -----------*/

.hero-section {
    text-align: center;
}

/* -----------FEATURE SECTION -----------*/

.features-main-heading {
    text-align: center;
}

.feature-img {
    width: 400px;
}

/* -----------CTA SECTION -----------*/


.cta-section {
    text-align: center;
}

.cta-card {
    text-align: center;
    background-color: #339af0;
    width: 1000px;
    padding: 100px 200px;
    border-radius: 20px;
}

/* -----------FOOTER SECTION -----------*/

.footer {
    text-align: center;
}

.social-icon {
    width: 20px;
}

/* -----------SEARCH SECTION -----------*/

.search {
    border-radius: 9px;
    border-style: solid;
    border-color: #e2e2e2;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: -24px;
}


