/* 

--------------TYPOGRAPHY--------------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5 

LETTER SPACING
0 / -2PX 


--------------COLORS--------------

PRIMARY
Arctic: #d0ebff
Sky Blue: #339af0
Deep Sea: #1c7ed6

SECONDARY
Moonlight Iris: #e5dbff
Lavender: #9775fa
Velvet Night: #7048e8

TERTIARY
Dawn: #ffe8cc
Pumpkin: #ff922b
Lava: #f76707

GREY
Pebble: #f1f3f5
Slate: #495057
Graphite: #212529


*/

/* ------------------------GLOBAL STYLES ------------------------ */

/* Add in universal selector later to remove default spacing propertied */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

h1, h2, h3, h4, h5 {

    line-height: 1.2;
    letter-spacing: -2px;
    color: #212529;
}


h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

a {
    font-weight: 400;
    text-decoration: none;
}
ul {
    list-style: none;
}

.small-text {
    font-size: 12px;
}

/* ------------------------COMPONETS------------------------ */


.btn {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.btn-primary, .btn-primary:visited{
    color: #f8f9fa;
    background-color: #339af0;
}

.btn-primary:hover, .btn-primary:active {
    color: #ffffff;
    background-color:#1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
    color: #ffffff;
    background-color: #9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #ffffff;
    background-color: #7048e8;
}

.btn-primary {
    color: #339af0;
}

.btn-secondary {
    color: #9775fa;
}

.highlight {
    color: #ffffff;
}

.highlight-primary {
    background-color: #339af0;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}

/* ------------------------SECTIONS ------------------------ */

/* -----------HERO SECTION -----------*/

.hero-section {
    text-align: center;
}

/* -----------FEATURE SECTION -----------*/

.features-main-heading {
    text-align: center;
}

/* -----------CTA SECTION -----------*/


.cta-section {
    text-align: center;
}

.cta-card {
    background-color: #339af0;
}

/* -----------FOOTER SECTION -----------*/

.footer {
    text-align: center;
}