/* 

--------------TYPOGRAPHY--------------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5 

LETTER SPACING
0 / -2PX 


--------------COLORS--------------

PRIMARY
Arctic: #d0ebff
Sky Blue: #339af0
Deep Sea: #1c7ed6

SECONDARY
Moonlight Iris: #e5dbff
Lavender: #9775fa
Velvet Night: #7048e8

TERTIARY
Dawn: #ffe8cc
Pumpkin: #ff922b
Lava: #f76707

GREY
Pebble: #f1f3f5
Slate: #495057
Graphite: #212529


*/

* {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
    color: #212529;
}

h2 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 48px;
    color: #212529;
}

h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 40px;
    color: #212529;
}

h4 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 32px;
    color: #212529;
}

h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 24px;
    color: #212529;
}

p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    color: #495057;
}

a {
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    color: #495057;
}
ul {
    list-style: none;
}
