* {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
    color: #212529;
}

h2 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 48px;
    color: #212529;
}

h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 40px;
    color: #212529;
}

h4 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 32px;
    color: #212529;
}

h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 24px;
    color: #212529;
}

p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    color: #495057;
}

a {
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    color: #495057;
}
ul {
    list-style: none;
}
